<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dark_Oak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Dark_Oak.Properties.Settings.DarkOakDBConnectionString"
            connectionString="Data Source=sqlsrv-mtgdb.database.windows.net;Initial Catalog=DarkOakDB;User ID=mtgdb2;Password=Ia3#qFJz"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Dark_Oak.Properties.Settings>
            <setting name="SQLUser" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="IncludeOnlineOnlyCards" serializeAs="String">
                <value>False</value>
            </setting>
        </Dark_Oak.Properties.Settings>
    </userSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>

